<footer class="py-3 mt-4 bg-light">
  <p class="lets-collaborate mt-3"><strong>Let's collaborate 💛.</strong></p>
  <ul class="nav justify-content-left border-bottom pb-3 mb-3" style="padding-left: 85px;">
    <li class="nav-item"><%= link_to "Linkedin", "https://www.linkedin.com/in/michaela-freire-griffith-23743a124", class: 'nav-link text-muted', target: '_blank' %></li>
    <li class="nav-item"><%= link_to "Email", "mailto:michaela.freiregriffith@gmail.com", class: 'nav-link text-muted', target: '_blank' %></li>
    <li class="nav-item"><%= link_to "Resume", "/", class: 'nav-link text-muted' %></li>
  </ul>
</footer>
