<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid align-items-center">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "LOGO YELLOW.png", alt: "Michaela Freire Logo", style: "width: 80px; height: auto;"%>
    <% end %>
    <div class="me-auto"></div>
    <%= link_to "/projects", class: "navbar-text" do %>
      Work
    <% end %>
    <%= link_to "/about", class: "navbar-text" do %>
      About
    <% end %>
  </div>
</div>
