.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  color: $white;
  text-decoration: none;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 16px;
}

.navbar-text:hover {
  color: $yellow;
}
